<form class="formField" [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>startup Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Startup Name</mat-label>
            <input
              matInput
              type="text"
              class="inputField"
              formControlName="companyName"
            />
            <mat-error>startup Name is required</mat-error>
          </mat-form-field>
        </div>
      
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="city" />
            <mat-error>city is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Founder Name</mat-label>
            <input matInput type="text" formControlName="founder" />
            <mat-error>Founder Name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Number Of employees</mat-label>
            <input
              matInput
              type="number"
              min="0"
              formControlName="numOfEmployees"
            />
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Year Of Establishment</mat-label>
            <input
              matInput
              type="number"
              min="0"
              formControlName="yearOfEstablishment"
            />
            <mat-error>Year Of Establishment is required</mat-error>
          </mat-form-field>
        </div>
          <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              type="tel"
              min="0"
              formControlName="phone"
              placeholder="+962"
            />
           
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Website Url</mat-label>
            <input matInput type="url" formControlName="website" />
            <mat-error *ngIf="urlWeb?.hasError('required')"
              >Url is required</mat-error
            >
            <mat-error *ngIf="urlWeb?.hasError('insecureUrl')"
              >Website must start with https</mat-error
            >
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <ng-container>
            <h4>Select sectors</h4>
            <ng-container
              *ngFor="let sector of sectorCheckbox; let i = index"
              ;
            >

               
                  <mat-checkbox  [checked]="sector.isSelected" (change)="onChange($event,i,sector.sector)" >{{sector.sector}}</mat-checkbox>
           
            </ng-container>
          </ng-container>
        </div>
      </div>
        <div class="row">
        <div class="column">
      
          
            <label>Logo Image</label>
          
            <input  type="file"  accept="image/*" (change)="upload($event)" required >
            <img  *ngIf="downloadUrl" title="upload" [src]='downloadUrl'  width="100px"  >
            <mat-error *ngIf="!downloadUrl" 
              >Image Url is required</mat-error
            >
      
        </div></div>
    </mat-card-content>
    <mat-card-actions class="btns">
   
      <button
        [disabled]="form.invalid"
        color="perimary"
        mat-raised-button
        (click)="submit()"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
