
.table {
  overflow: scroll;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  
}
mat-icon {
    color: black;
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background: whitesmoke;
}
.responsiveFilters {
   display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}
.filter,.filterSearch {
padding: 1.5rem 1.5rem;
}
 
@media (max-width:210px){
 .responsiveFilters{
  display: flex;
  flex-direction: column;
 
 }

 
}

/* cards */

.cards {
  display: grid;
  grid-template-columns: repeat(3,0.2fr);
  justify-content: space-around;
 
  padding: 2rem;
  min-height: 15vh;
  position: relative;
  color: white;
  
}
.cards .C1{
  /* background-color:  #62717b; */
  position: relative;
  background-color: #94a4a4;
 
}

.cards .C2{
  /* background-color: #FCA311; */
  position: relative;
  background-color: #55646b;
}

.cards .C3 {
    position: relative;

  background-color: #d6d8d8;
}

.cards h1 {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  font-size: 3vw;
  font-weight: 500;
  
  }
.cards p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2vw;
  font-weight: 200;

}

