<div class="cards">
  <mat-card class="C1"><h1>{{NoOfSectors}}</h1>
  <p> Startups</p>
  </mat-card>
   <mat-card class="C2"><h1>{{NoOfStartups}}</h1><p>Sectors</p></mat-card>
    <mat-card class="C3"><h1>{{NoOfRequests}}</h1><p>Requests</p></mat-card>
</div>

<div class="responsiveFilters">
<mat-form-field class="filterSearch" appearance="outline">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>

<mat-form-field  #form appearance="fill" class="filter" appearance="outline">
  <mat-label>Filter by sector</mat-label>
  <mat-select>
    <mat-option selected value="" (click)="reshowStartups()">Fiter By Sector</mat-option>
    <mat-option *ngFor="let sector of sectors , let i=index" [value]="sector.sector " (click)="filterStartups(sector.sector)">
      {{sector.sector}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>


<div class="mat-elevation-z8 table"  >
<table mat-table [dataSource]="dataSource" >
  <!-- Logo Column -->
  <ng-container matColumnDef="Logo">
    <th mat-header-cell *matHeaderCellDef>Logo</th>
    <td mat-cell *matCellDef="let element">
      <img src="{{ element.logo }}" width="70px"  />
    </td>
  </ng-container>

  <!-- Company Name Column -->
  <ng-container matColumnDef="Company Name">
    <th mat-header-cell *matHeaderCellDef>Company Name</th>
    <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
  </ng-container>

  <!-- City Column -->
  <ng-container matColumnDef="City">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let element">{{ element.city }}</td>
  </ng-container>

  <!-- Sector Column -->
  <ng-container matColumnDef="Sector">
    <th mat-header-cell *matHeaderCellDef>Sector</th>
    <td mat-cell *matCellDef="let element">{{ element.sector }}</td>
  </ng-container>
  <!-- Year Of Establishment Column -->
  <ng-container matColumnDef="Year Of Establishment">
    <th mat-header-cell *matHeaderCellDef>Year Of Establishment</th>
    <td mat-cell *matCellDef="let element">
      {{ element.yearOfEstablishment }}
    </td>
  </ng-container>
  <!-- Website Column -->
  <ng-container matColumnDef="Website">
    <th mat-header-cell *matHeaderCellDef>Website</th>
    <td mat-cell *matCellDef="let element">{{ element.website }}</td>
  </ng-container>
  <!-- Edit Column -->
  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['edit', element.id]">
        <mat-icon> edit </mat-icon>
      </a>
    </td>
  </ng-container>
  <!-- Delete Column -->
  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="deleteStartup(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" ></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow >
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>
  <mat-paginator [pageSizeOptions]="[10,20,30]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
  </div>