
.table {
  overflow: scroll;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  
}
mat-icon {
    color: black;
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background: whitesmoke;
}
.responsiveFilters {
   display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}
.filter,.filterSearch {
padding: 1.5rem 1.5rem;
}
 
@media (max-width:210px){
 .responsiveFilters{
  display: flex;
  flex-direction: column;
 
 }

 
}
