<div class="intro">
  <mat-card class="card">
          <h1>Your Entryway To Startups In Jordan</h1>

    </mat-card>
  </div>

<div class="colorBackground"></div>
<div class="background">
  <mat-card class="content">
   
      <mat-card-title><h1>Who We Are</h1> </mat-card-title>
      <mat-card-subtitle
        ><p>We displays tech startups in some sectors in Jordan with its information</p> 
        <p>we have mapped 15+ startups across various verticals or focused sector</p>  </mat-card-subtitle
      >
   
  </mat-card>
  
        <img
      src="./assets/backgrounds/Creative team-cuate.svg "
      alt="image"
    />
     
</div>

   

