<div class="intro">
  <mat-card class="card">
    <h1>Lorem, ipsum dolor..</h1>
    <p>
      Lorem ipsum dolor sit amet, 
    </p>
    </mat-card>
  </div>

<div class="colorBackground"></div>
<div class="background">
  <mat-card class="content">
   
      <mat-card-title>Who We Are</mat-card-title>
      <mat-card-subtitle
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero neque
        reiciendis molestiae tempora quisquam velit recusandae repudiandae et
        repellat a?</mat-card-subtitle
      >
   
  </mat-card>
  
        <img
      src="./assets/backgrounds/Creative team-cuate.svg "
      alt="image"
    />
     
</div>

   

