
<div class="navbar-container"  #content>
  <mat-sidenav-container class="navbarSidenavContainer">
    <!-- side nav -->
    <mat-sidenav #drawer class="sidenav" mode="side" >
      <div class="sideNavContainer">
      <div>
        

        <a class="nav-link" routerLink="/" (click)="drawer.toggle()"><mat-icon>home</mat-icon><p>Home</p></a>
      </div>

      <div>
       
        <a class="nav-link" routerLink="/admin" (click)="drawer.toggle()">  <mat-icon class="dashboard">dashboard</mat-icon><p>Dashboard</p></a>
      </div>
      <div>
        
        <a class="nav-link" routerLink="/admin/startupForm" (click)="drawer.toggle()"><mat-icon>add</mat-icon><p>startup</p></a>
      </div>
      <div>
       
     <a  class="addSectorStyle" (click)="addingSector()" (click)="drawer.toggle()"> <mat-icon>add</mat-icon><p>Sector</p></a>
      </div>
       <div>
        <a class="nav-link" routerLink="/admin/Requests" (click)="drawer.toggle()"> <span> <mat-icon class="notifications">notifications</mat-icon><span *ngIf="NoOfRequests!=0"> {{NoOfRequests}}</span></span><p>Requests </p></a>

      </div>
      <div><a class="nav-link pdf" (click)="exportPDF()" (click)="drawer.toggle()"><span class="iconPDF"><i class="fa-regular fa-file-pdf"></i></span><p>Export PDF</p></a></div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Top navbar-->
      <mat-toolbar class="navbar">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu </mat-icon>
        </button>
        <!-- spacer  -->
        <span class="navbar-spacer"></span>
        
        <!-- logoWebsite -->
        <a  class="navbar-brand" routerLink="/"
          >
        <h1>Startups <span>JO</span></h1>
      </a>
         <!-- spacer  -->
        <span class="navbar-spacer"></span>
        <button mat-stroked-button (click)="logout()">log out</button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
