<div class="navbar-container">
  <mat-sidenav-container class="navbarSidenavContainer">
    <!-- side nav -->
    <mat-sidenav #drawer class="sidenav" mode="side" >
      <div class="sideNavContainer">
      <div>
        

        <a class="nav-link" routerLink="/"><mat-icon>home</mat-icon><p>Home</p></a>
      </div>

      <div>
       
        <a class="nav-link" routerLink="/admin">  <mat-icon class="dashboard">dashboard</mat-icon><p>Dashboard</p></a>
      </div>
      <div>
        
        <a class="nav-link" routerLink="/admin/startupForm"><mat-icon>add</mat-icon><p>startup</p></a>
      </div>
      <div>
       
     <a  class="addSectorStyle" (click)="addingSector()"> <mat-icon>add</mat-icon><p>Sector</p></a>
      </div>
       <div>
        <a class="nav-link" routerLink="/admin/Requests">   <mat-icon class="notifications">notifications</mat-icon><p>Requests</p></a>
      </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Top navbar-->
      <mat-toolbar class="navbar">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- spacer  -->
        <span class="navbar-spacer"></span>
        
        <!-- logoWebsite -->
        <a class="navbar-brand" routerLink="/"
          ><img
            src="/assets/icons/LogoMakr-0QyaYX.png"
            alt="icon"
            width="130px"
            height="25px"
        /></a>
         <!-- spacer  -->
        <span class="navbar-spacer"></span>
        <button mat-stroked-button (click)="logout()">log out</button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
