
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;

}
.mat-elevation-z8 {
  width:100%;
  overflow: auto;

}
mat-icon {
    color: black;
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background: whitesmoke;
}
.filterSearch {
  width: 50%;
  margin-top:1.5rem;
  position: relative;
 left: 50%;
  transform: translateX(-50%);
}