<div class="container">
  <div class="content">
    <div class="image">
      <img [src]="[startupInfo?.logo]" height="120px" width="120px" />
    </div>
    <div class="info">
      <div
        ><h2>Company Name: </h2>
        <h4>{{ startupInfo?.companyName }}</h4></div
      >
      <div
        ><h2>Founder Name:</h2>
        <h4>{{ startupInfo?.founder }}</h4></div
      >
      <div
        ><h2>Number Of employees:</h2>
        <h4>{{ startupInfo?.numOfEmployees }}</h4></div
      >
      <div
        ><h2>Year Of Establishment:</h2>
        <h4>{{ startupInfo?.yearOfEstablishment }}</h4></div
      >
      <div><h2>Website Url:</h2>
       <h4> {{ startupInfo?.website }}</h4></div
      >
      <div
        ><h2>city:</h2>
        <h4>{{ startupInfo?.city }}</h4></div
      >
      <div><h2>Phone Number:</h2>
        <h4>{{ startupInfo?.phone }}</h4></div >
    
  </div>
  <div class="actions"><button mat-stroked-button (click)="goBackToHome()">back</button></div>
</div>
