
img {

	height: auto;
	width:200px;
	
}

/* Main CSS */



.grid-wrapper mat-card {
	display: flex;
	justify-content: center;
	align-items: center;
   padding: 3rem;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
    border: 1px solid black;
}
.grid-wrapper div:hover img {
	transform: scale(1.03);
	cursor: pointer;
}
   /* effect on cards */

/* end of effect */
.container {
    display: flex;
    justify-content: center;
}
.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
     margin-top: 80px;
	 /* updated */
     margin-bottom: 5rem;  
	 /*  */
      width: 95%;
	  min-height: 100vh;
	  /* border: 1px solid red; */
}



@media (max-width:700px){
  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    
  }
  .grid-wrapper>div {
    	grid-column: span 2;
  }
}
@media (max-width:360px){
.grid-wrapper mat-card {
	display: block;
    width: 100%;
    height: 100%;
	overflow: scroll;
	
	
  
}	
}




/* intro */
.intro .card {
  position: relative;
  background:url(/assets/backgrounds/2998175d-56ec-4177-9b5d-9c9094911bf1.png) no-repeat;
    background-size: cover;
 background-position-y:-5rem;
  min-height: 55vh;
 
margin-top: 4rem;
box-shadow: none;
}
.card h1 {
  position: absolute;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
word-wrap: break-word;
font-size: 4rem;
font-weight: 300;
line-height: 65px;
text-align: center;
width: 50%;}

/* filter sector */
.filter {
	position: relative;
    margin-top: 2rem;
	left: 50%;
	transform: translateX(-50%);
width: 50%;
}

/* middle */
.middle h1,.middle p {
	font-family: 'Playfair Display', serif;text-align: center;
	position: relative;
    left: 50%;
    transform: translateX(-50%);
	width: 50%;
    
	word-wrap: break-word;
	line-height: 100%;
	
}
.middle h1 {
   font-size: 2.5rem;
}
.middle p {
   font-size: 2rem;
}
.middle {
padding: 10rem 0;
	
	border: 1px solid black;
}
.share {
	/* background-color:grey; */
	/* margin:5rem 0; */
background-color:rgb(139, 139, 139);
min-height: 25vh;
padding: 7rem 0 0 0 ;
margin-bottom: 4rem;
}
.share h1 {
    text-align: center;
    word-break: break-word;
    font-size: 2rem;
    font-weight: 300;
}

share-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}


@media (max-width:660px){
.card h1 {
	width: 100%;
	font-size: 1.5rem;
	font-weight: 500;
}
}