img {
  height: auto;
  width: 200px;
}

/* Main CSS */

.grid-wrapper mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid black;
}
.grid-wrapper div:hover img {
  transform: scale(1.03);
  cursor: pointer;
}
/* effect on cards */

/* end of effect */
.container {
  display: flex;
  justify-content: center;
}
.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  margin-bottom: 5rem;
  width: 95%;
  min-height: 100vh;
}

@media (max-width: 700px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .grid-wrapper > div {
    grid-column: span 2;
  }
 
}
@media (max-width: 360px) {
  .grid-wrapper mat-card {
    display: block;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
}

.contentHome {
  padding-right: 5rem;
  padding-left: 5rem;
}
/* intro */
.intro .card {
  position: relative;
  background: url(/assets/backgrounds/2998175d-56ec-4177-9b5d-9c9094911bf1.png)
    no-repeat;
  background-size: 100%;
  background-position-y: -5rem;
height: 400px;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  margin-top: 4rem;
  box-shadow: none;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
  font-size: 4rem;
  font-weight: 400;
  line-height: 65px;
  text-align: center;
  width: 50%;
  color: var(--davys-grey);
}

/* filters */
.filterContainer {
  display: flex;
  flex-direction: column;
  padding-right: 2rem ;
  padding-left: 2rem;
}

.filters {
  display: flex;
  padding: 1.5rem;
  justify-content: space-around;
  align-items: baseline;
  column-gap: 1.2rem;
  width: 100%;
  margin-top: 2rem;
}
.filters mat-form-field {
  width: 50%;
}
.filters button {
  width: 10%;
  margin-right: 2rem;
}
@media (max-width: 800px) {
  .filters mat-form-field {
    width: 40%;
  }
  .filters {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .filters mat-form-field {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .filters mat-form-field {
    width: 100%;
  }
  .filters {
    padding: 0;
    margin-bottom: 0.8rem;
  }
}



@media (max-width: 660px) {
  .card h1 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media (max-height: 500px) {
  .card h1 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.colorBackground {
  background-color: var(--cultured-2);
  width: 100%;
  height: 50px;
}

.dark {
  color: black;
  font-size: 2rem;
}
.hideShare {
  display: none;
}
/* sharing */
.share {
  display: block;
  position: absolute;
  background-color: var(--davys-grey);
  right: 0;
  height: 300px;
  width: 70px;
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
  padding: 3rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  opacity: 70%;

/* transition: all 2s 0s ease-in; */
}

.share h1 {
  font-weight: 300;
  margin-top: 1rem;
}
.share h1,
.share mat-icon {
  color: white;
}
@media (max-height:400px){
  .share {
   height: 70%;
   padding-top: 0;
   transform: translateY(-30%);
overflow: scroll;
  }
  
}
 .btn {
  position: absolute;
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4 ease-in-out;
/* background-color: grey; */
cursor: pointer;
opacity: 0;
width: 100%;
height: 100%;
 }
 .btn button {
width: 100px;
height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
  .containers:hover .btn  {
opacity: 1;

 }
 
 .containers:hover  {

  opacity: 0.8;
 }

/* pdf */
.pdf a {
  color:white;
  font-size: 1.3rem;
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}
@media (max-width:700px) {
  .contentHome {
    padding-left: 0;
    margin: 0;
  }
}
@media (max-width:702px) {
  .share {
position: relative;
bottom:0;
top: 30px;
border-radius: 0;
width: 100%;
height: 20px;
padding:20px;
display: flex;
flex-direction: row-reverse;
justify-content: center;
overflow: auto;
  }
}