  <div class="intro">
  <mat-card class="card">
    <h1>Lorem, ipsum dolor..</h1>
    <p>
      Lorem ipsum dolor sit amet, 
    </p>
    </mat-card>
  </div>
  
<div class="container">
<div   class="grid-wrapper">
	<mat-card class="card" *ngFor="let startup of startups"><img src="{{ startup.logo }}"  /></mat-card>
	<!-- <div class="tall">
		
	</div>
	<div>
		
	</div>
	<div class="tall">

	</div>
	<div class="wide">
		
	</div>
	<div>
		
	</div>
	<div class="tall">
		
	</div>
	<div class="big">
		
	</div>
	<div>
		
	</div>
	<div class="wide">
		
	</div>
	<div class="big">
		
	</div>
	<div class="tall">
	
	</div>
	<div>
		
	</div>
	<div>
		
	</div>
	<div>
		
	</div>
	<div>
		
	</div>
	<div class="wide">
		
	</div>
	<div>
		
	</div>
	<div>
		
	</div>
	<div class="wide">
		
	</div>
	<div>
		
	</div>
	<div class="wide">
		
	</div>
	<div >
		
	</div> -->

</div>

</div>
