<div class="content">
  <div class="intro">
    <mat-card class="card">
      <h1>Lorem, ipsum dolor..</h1>
      <p>Lorem ipsum dolor sit amet,</p>
    </mat-card>
  </div>
  <div>
    
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Filter by sector</mat-label>
      <mat-select>
        <mat-option selected value="" (click)="reshowStartups()"
          >Fiter By Sector</mat-option
        >
        <mat-option
          *ngFor="let sector of sectors"
          [value]="sector.sector"
          (click)="filterStartups(sector.sector)"
        >
          {{ sector.sector }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="container">
      <div class="grid-wrapper">
        <mat-card   *ngFor="let startup of startups" class="cards"  (click)="navigateToInfo(startup)"
          >
         <div >
          <a [routerLink]="['startupInfo',startup.id]">
            <img mat-card-image src="{{ startup.logo }}" />
          </a>
          </div>

      
        </mat-card>
      </div>
    </div>
  </div>
</div>
