<div class="intro">
  <mat-card class="card">
    <h1>Your Entryway To Startups In Jordan</h1>
  </mat-card>
</div>

<div class="container">
 
  <h1 class="title">Frequently Asked Questions</h1>
  <div class="allCheckbox">
    <div class="c">
      <input type="checkbox" id="faq-1" />
      <h1><label for="faq-1">Why i can't sign up ? </label></h1>
      <div class="p">
        <p>only admin of the website is allowed to login.</p>
      </div>
    </div>
    <div class="c">
      <input type="checkbox" id="faq-2" />
      <h1>
        <label for="faq-2">Can I request to add a Startup Company?</label>
      </h1>
      <div class="p">
        <p>
          Yes you can, By going to<span class="addStartup"> ADD STARTUP</span>
          then fill the form .
        </p>
      </div>
    </div>
   
  </div>
</div>
